Source: imx-gpu-viv
Priority: optional
Maintainer: Josua Mayer <josua@solid-run.com>
Build-Depends: debhelper (>= 8.0.0), lsb-release, 
 libdrm2,
 libglapi-mesa,
 libx11-6,
 libxdamage1,
 libxext6,
 libxfixes3,
Standards-Version: 3.9.6
Section: libs
Vcs-Git: https://github.com/mxOBS/deb-pkg_gpu-viv-bin.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_gpu-viv-bin

Package: imx-gpu-viv
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 imx-gpu-viv-fb | imx-gpu-viv-dfb | imx-gpu-viv-wl | imx-gpu-viv-x11,
 galcore-5.0.11.25762,
 ${shlibs:Depends},
Provides:
 libegl1,
 libgles1,
 libgles2,
 libgles3,
 libopenvg1,
 libopencl1,
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-dev
Section: libdevel
Architecture: any
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 mesa-common-dev,
 imx-gpu-viv-fb-dev | imx-gpu-viv-dfb-dev | imx-gpu-viv-wl-dev | imx-gpu-viv-x11-dev,
Provides:
 libegl1-dev,
 libgles1-dev,
 libgles2-dev,
 libgles3-dev,
 libopenvg1-dev,
 libopencl1-dev,
Breaks:
 libegl1-dev,
 libgles1-dev,
 libgles2-dev,
 libgles3-dev,
 libopenvg1-dev,
 libopencl1-dev,
Replaces:
 libegl1-dev,
 libgles1-dev,
 libgles2-dev,
 libgles3-dev,
 libopenvg1-dev,
 libopencl1-dev,
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-dbg
Architecture: any
Section: debug
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 imx-gpu-viv-fb | imx-gpu-viv-dfb | imx-gpu-viv-wl | imx-gpu-viv-x11,
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-demos
Architecture: any
Section: devel
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 imx-gpu-viv-fb | imx-gpu-viv-dfb | imx-gpu-viv-wl | imx-gpu-viv-x11,
 ${shlibs:Depends},
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-fb
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 ${shlibs:Depends},
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-dfb
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 ${shlibs:Depends},
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-wl
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 ${shlibs:Depends},
Description: Todo                          
 T. O. D. O.

Package: imx-gpu-viv-x11
Section: libs
Architecture: any
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 ${shlibs:Depends},
Provides:
 libegl1-x11,
 libgl1,
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-fb-dev
Section: libdevel
Architecture: any
Depends:
 imx-gpu-viv-dev (= ${binary:Version}),
 imx-gpu-viv-fb (= ${binary:Version}),
 ${misc:Depends},
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-dfb-dev
Section: libdevel
Architecture: any
Depends:
 imx-gpu-viv-dev (= ${binary:Version}),
 imx-gpu-viv-dfb (= ${binary:Version}),
 ${misc:Depends},
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-wl-dev
Section: libdevel
Architecture: any
Depends:
 imx-gpu-viv-dev (= ${binary:Version}),
 imx-gpu-viv-wl (= ${binary:Version}),
 ${misc:Depends},
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-x11-dev
Section: libdevel
Architecture: any
Depends:
 imx-gpu-viv-dev (= ${binary:Version}),
 imx-gpu-viv-x11 (= ${binary:Version}),
 ${misc:Depends},
Provides: libgl-dev
Breaks: libgl-dev
Replaces: libgl-dev
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-fb-dbg
Architecture: any
Section: debug
Depends:
 imx-gpu-viv-dbg (= ${binary:Version}),
 imx-gpu-viv-fb (= ${binary:Version}),
 ${misc:Depends},
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-dfb-dbg
Architecture: any    
Section: debug
Depends:
 imx-gpu-viv-dbg (= ${binary:Version}),
 imx-gpu-viv-dfb (= ${binary:Version}),
 ${misc:Depends},
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-wl-dbg
Architecture: any    
Section: debug
Depends:
 imx-gpu-viv-dbg (= ${binary:Version}),
 imx-gpu-viv-wl (= ${binary:Version}),
 ${misc:Depends},
Description: Todo
 T. O. D. O.

Package: imx-gpu-viv-x11-dbg
Architecture: any    
Section: debug
Depends:
 imx-gpu-viv-dbg (= ${binary:Version}),
 imx-gpu-viv-x11 (= ${binary:Version}),
 ${misc:Depends},
Description: Todo
 T. O. D. O.

Package: libg2d0.8
Section: libs
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
Description: Todo
 T. O. D. O.

Package: libg2d-dev
Section: libdevel
Architecture: any
Depends:
 libg2d0.8 (= ${binary:Version}),
 ${misc:Depends}
Description: Todo
 T. O. D. O.

Package: libg2d-demos
Section: devel
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libg2d0.8 (= ${binary:Version}),
Description: Todo
 T. O. D. O.

Package: libg2d0.8-dbg
Architecture: any
Section: debug
Depends:
 libg2d0.8 (= ${binary:Version}),
 ${misc:Depends},
Description: Todo
 T. O. D. O.
