Source: imx-gpu-viv
Priority: optional
Maintainer: Josua Mayer <josua@solid-run.com>
Build-Depends:
 debhelper (>= 8.1.3),
 dh-exec,
 libc6 (>= 2.4),
 libdrm2 (>= 2.3.1),
 libegl1,
 libffi6 (>= 3.0.4), 
 libgcc1 (>= 1:3.5),
 libglapi-mesa,
 libgles2,
 libstdc++6 (>= 5.2),
 libwayland-client0 (>= 1.9.91), 
 libwayland-cursor0 (>= 1.0.2), 
 libwayland-server0 (>= 1.2.0),
 libx11-6 (>= 2:1.4.99.1),
 libxau6,
 libxdamage1 (>= 1:1.1), 
 libxdmcp6, 
 libxext6, 
 libxfixes3,
 wget,
Standards-Version: 3.9.6
Section: libs
Vcs-Git: https://github.com/mxOBS/deb-pkg_gpu-viv-bin.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_gpu-viv-bin

Package: imx-gpu-viv
Section: libs
Architecture: armhf
Multi-Arch: same
Depends:
 ${misc:Depends},
 imx-gpu-viv-fb (= ${binary:Version}) | imx-gpu-viv-wl (= ${binary:Version}) | imx-gpu-viv-x11 (= ${binary:Version}),
 galcore-6.2.2.93313,
 ${shlibs:Depends},
Breaks:
 imx-gpu-viv-dfb,
Conflicts:
 libg2d0.8,
Description: Vivante Userspace for i.MX6
 Provides the userspace graphics libraries as provided by Vivante.

Package: imx-gpu-viv-common
Section: libs
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
Description: Common files for imx-gpu-viv
 Contains architecture independent configuration data for the Vivante GPU
 userspace on i.MX6.

Package: imx-gpu-viv-dev
Section: libdevel
Architecture: armhf
Depends:
 ${misc:Depends},
 imx-gpu-viv-common (= ${binary:Version}),
 imx-gpu-viv (= ${binary:Version}),
 imx-gpu-viv-fb-dev (= ${binary:Version}) | imx-gpu-viv-wl-dev (= ${binary:Version}) | imx-gpu-viv-x11-dev (= ${binary:Version}),
Description: Development files for imx-gpu-viv
 Provides libraries and headers to create programs with the Vivante-provided
 graphics libraries for i.MX6.

Package: imx-gpu-viv-dbg
Architecture: armhf
Section: debug
Multi-Arch: same
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 imx-gpu-viv-fb (= ${binary:Version}) | imx-gpu-viv-wl (= ${binary:Version}) | imx-gpu-viv-x11 (= ${binary:Version}),
Description: Debug symbols for imx-gpu-viv
 Provides the debug symbols to Vivante i.MX6 userspace graphics libraries.

Package: imx-gpu-viv-demos
Architecture: armhf
Section: devel
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 imx-gpu-viv-fb (= ${binary:Version}) | imx-gpu-viv-wl (= ${binary:Version}) | imx-gpu-viv-x11 (= ${binary:Version}),
 ${shlibs:Depends},
Description: Vivante Demos for i.MX6
 Provides the demo applications as provided by Vivante.

Package: imx-gpu-viv-fb
Section: libs
Architecture: armhf
Multi-Arch: same
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 ${shlibs:Depends},
Description: Vivante Userspace for i.MX6 on Framebuffer
 Provides the userspace graphics libraries as provided by Vivante, Framebuffer
 parts.

Package: imx-gpu-viv-wl
Section: libs
Architecture: armhf
Multi-Arch: same
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 ${shlibs:Depends},
Description: Vivante Userspace for i.MX6 on Wayland
 Provides the userspace graphics libraries as provided by Vivante, Wayland
 parts.

Package: imx-gpu-viv-x11
Section: libs
Architecture: armhf
Multi-Arch: same
Depends:
 ${misc:Depends},
 imx-gpu-viv (= ${binary:Version}),
 ${shlibs:Depends},
Description: Vivante Userspace for i.MX6 on X11
 Provides the userspace graphics libraries as provided by Vivante, X11 parts.

Package: imx-gpu-viv-fb-dev
Section: libdevel
Architecture: armhf
Depends:
 imx-gpu-viv-dev (= ${binary:Version}),
 imx-gpu-viv-fb (= ${binary:Version}),
 ${misc:Depends},
Description: Development files for imx-gpu-viv-fb
 Provides libraries and headers to create programs with the Vivante-provided
 graphics libraries for i.MX6, Framebuffer parts.

Package: imx-gpu-viv-wl-dev
Section: libdevel
Architecture: armhf
Depends:
 imx-gpu-viv-dev (= ${binary:Version}),
 imx-gpu-viv-wl (= ${binary:Version}),
 ${misc:Depends},
Description: Development files for imx-gpu-viv-wl
 Provides libraries and headers to create programs with the Vivante-provided
 graphics libraries for i.MX6, Wayland parts.

Package: imx-gpu-viv-x11-dev
Section: libdevel
Architecture: armhf
Depends:
 imx-gpu-viv-dev (= ${binary:Version}),
 imx-gpu-viv-x11 (= ${binary:Version}),
 ${misc:Depends},
Provides:
 libgl-dev,
Breaks:
 libgl-dev,
 mesa-common-dev (>> 1),
Replaces:
 libgl-dev,
 mesa-common-dev (>> 1),
Description: Development files for imx-gpu-viv-x11
 Provides libraries and headers to create programs with the Vivante-provided
 graphics libraries for i.MX6, X11 parts.

Package: imx-gpu-viv-fb-dbg
Section: debug
Priority: extra
Architecture: armhf
Multi-Arch: same
Depends:
 imx-gpu-viv-dbg (= ${binary:Version}),
 imx-gpu-viv-fb (= ${binary:Version}),
 ${misc:Depends},
Description: Debug symbols for imx-gpu-viv-fb
 Provides the debug symbols to Vivante i.MX6 userspace graphics libraries,
 Framebuffer parts.

Package: imx-gpu-viv-wl-dbg
Section: debug
Priority: extra
Architecture: armhf
Multi-Arch: same
Depends:
 imx-gpu-viv-dbg (= ${binary:Version}),
 imx-gpu-viv-wl (= ${binary:Version}),
 ${misc:Depends},
Description: Debug symbols for imx-gpu-viv-wl
 Provides the debug symbols to Vivante i.MX6 userspace graphics libraries,
 Wayland parts.

Package: imx-gpu-viv-x11-dbg
Section: debug
Priority: extra
Architecture: armhf
Multi-Arch: same
Depends:
 imx-gpu-viv-dbg (= ${binary:Version}),
 imx-gpu-viv-x11 (= ${binary:Version}),
 ${misc:Depends},
Description: Debug symbols for imx-gpu-viv-x11
 Provides the debug symbols to Vivante i.MX6 userspace graphics libraries, X11
 parts.

# Individual -dev packages for wrapped libraries
Package: libgbm-dev
Section: libdevel
Architecture: armhf
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Development files for Vivante libgbm
 Provides libraries and headers to create programs using Vivante libgbm.

Package: libvdk-dev
Section: libdevel
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: libvdk
Description: Development files for libvdk
 Provides development libraries and headers for using libvdk.

Package: libgal-dev
Section: libdevel
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: Development files for libgal
 Provides development libraries and headers for using libgal.
