#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# include system information
include /usr/share/dpkg/architecture.mk

# set CROSS_COMPILE only when cross-compiling
CROSS_COMPILE=
ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
	CROSS_COMPILE=$(DEB_HOST_GNU_TYPE)-
endif

# hack: will only work on OBS-created chroots
SOURCESDIRS=/usr/src/packages/SOURCES/ ~/

# meson build directory
BUILDDIR=$(CURDIR)/obj-$(DEB_HOST_GNU_TYPE)

%:
	dh $@ --parallel

override_dh_auto_clean:
	rm -vf *.bin
	dh_auto_clean

override_dh_auto_configure:
	find $(SOURCESDIRS) -maxdepth 1 -iname "imx-gpu-viv-*.bin" -exec cp -v {} ./ \; || true
	dh_auto_configure

override_dh_shlibdeps:
	dh_shlibdeps -l$(BUILDDIR):$(CURDIR)/debian/imx-gpu-viv/usr/lib/galcore -pimx-gpu-viv -- -ximx-gpu-viv-fb -ximx-gpu-viv-wl -ximx-gpu-viv-x11
	dh_shlibdeps -l$(BUILDDIR):$(CURDIR)/debian/imx-gpu-viv/usr/lib/galcore:$(CURDIR)/debian/imx-gpu-viv-fb/usr/lib/galcore/fb -pimx-gpu-viv-fb -- -ximx-gpu-viv-fb -ximx-gpu-viv-wl -ximx-gpu-viv-x11
	dh_shlibdeps -l$(BUILDDIR):$(CURDIR)/debian/imx-gpu-viv/usr/lib/galcore:$(CURDIR)/debian/imx-gpu-viv-wl/usr/lib/galcore/wl -pimx-gpu-viv-wl -- -ximx-gpu-viv-fb -ximx-gpu-viv-wl -ximx-gpu-viv-x11
	dh_shlibdeps -l$(BUILDDIR):$(CURDIR)/debian/imx-gpu-viv/usr/lib/galcore:$(CURDIR)/debian/imx-gpu-viv-x11/usr/lib/galcore/x11 -pimx-gpu-viv-x11 -- -ximx-gpu-viv-fb -ximx-gpu-viv-wl -ximx-gpu-viv-x11
	dh_shlibdeps -l$(BUILDDIR):$(CURDIR)/debian/imx-gpu-viv/usr/lib/galcore -pimx-gpu-viv-demos -- -ximx-gpu-viv-fb -ximx-gpu-viv-wl -ximx-gpu-viv-x11
	dh_shlibdeps -plibgbm -- -ximx-gpu-viv-fb -ximx-gpu-viv-wl -ximx-gpu-viv-x11

override_dh_strip:
	dh_strip --package=imx-gpu-viv --dbgsym-migration='imx-gpu-viv-dbg (<< 6.2.2.p0+4~)'
	dh_strip --package=imx-gpu-viv-fb --dbgsym-migration='imx-gpu-viv-fb-dbg (<< 6.2.2.p0+4~)'
	dh_strip --package=imx-gpu-viv-wl --dbgsym-migration='imx-gpu-viv-wl-dbg (<< 6.2.2.p0+4~)'
	dh_strip --package=imx-gpu-viv-x11 --dbgsym-migration='imx-gpu-viv-x11-dbg (<< 6.2.2.p0+4~)'
	dh_strip --package=libgbm --dbgsym-migration='libgbm-dbg (<< 6.2.2.p0+4~)'

