#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# hack: will only work on OBS-created chroots
SOURCESDIRS=/usr/src/packages/SOURCES/ ~/

%:
	dh $@

override_dh_auto_clean:
	rm -vf *.bin
	for file in *.pc; do if [ -e "$$file" ]; then rm -fv "$$file"; fi; done
	find . -type d -iname "gpu-viv-bin-*-*-*-*" -exec rm -rf {} \; || true
	rm -vrf debian/tmp-*
build: 

override_dh_auto_install:
	find $(SOURCESDIRS) -maxdepth 1 -iname "gpu-viv-bin-*-*-*-*.bin" -exec cp -v {} ./ \; || true
	./install.sh $(CURDIR)/debian/tmp-fb fb
	./install.sh $(CURDIR)/debian/tmp-dfb dfb
	./install.sh $(CURDIR)/debian/tmp-x11 x11

override_dh_install:
	dh_install --sourcedir=debian/tmp-fb --package=gpu-viv-bin-fb
	dh_install --sourcedir=debian/tmp-fb --package=gpu-viv-bin-fb-dev
	dh_install --sourcedir=debian/tmp-dfb --package=gpu-viv-bin-dfb
	dh_install --sourcedir=debian/tmp-dfb --package=gpu-viv-bin-dfb-dev
	dh_install --sourcedir=debian/tmp-x11 --package=gpu-viv-bin-x11
	dh_install --sourcedir=debian/tmp-x11 --package=gpu-viv-bin-x11-dev

override_dh_shlibdeps:
	dh_shlibdeps -- --ignore-missing-info
